# Ignore JetBrains IDE settings folder
.idea/

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore key files
*.pem

# Env files
.env

# my script file
src/pastebin.py

# Local postgres certs
postgres_ssl/



